* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
}

:root {
    --background: #EAECCC;
    --other: #F3EEEA;
    --color: black;
    --color2: white;
    --company: #435585;
    --shadow: #3081D0;
    --span: #5b446a;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background: var(--color);
    color: var(--color2);
    border-radius: 50px;
    margin-top: 10px;
    position: sticky;
}

nav .logo {
    background: none;
    color: var(--color2);
    font-size: 47px;
    text-decoration: none;
    font-family: 'Sevillana', cursive;
    transition: 1s;
}

nav .logo:hover {
    text-decoration: underline;
    transition: .5s;
}

nav ul li {
    background: none;
    color: var(--color2);
    list-style: none;
    font-size: 27px;
}

nav li a {
    border: 1px solid var(--color2);
    background: var(--color2);
    color: var(--color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50px;
    transition: 1s;
}

nav li a:hover {
    box-shadow: 1px 4px 10px 3px var(--shadow);
    transition: .5s;
}

#hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (min-aspect-ratio:16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-aspect-ratio:16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

.hero-place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--color2);
    margin-top: 60px;
    gap: 70px;
}

.hero-text {
    margin-left: 40px;
}

.hero-text h1 {
    font-size: 110px;
}

.hero-img img {
    margin-top: 10px;
    width: 60%;
}

span {
    background: linear-gradient(#220e24, #342056);
    color: #3081D0;
}

#ChooseUs {
    margin-top: 50px;
}

.head h2 {
    text-align: center;
    margin-top: 40px;
    color: #5b446a;
    font-size: 40px;
    margin-bottom: 50px;
}

.head h3 {
    text-align: center;
    color: rgb(81, 82, 82);
    margin-top: -40px;
}

.choose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.choose-img img {
    width: 100%;
    margin-left: 10px;
}

.choose-text {
    text-align: left;
    align-items: center;
    margin-top: 100px;
}

.choose-text h2 {
    color: #3081D0;
    font-size: 40px;
}

.choose-text h3 {
    font-size: 20px;
    margin: 20px 0px;
    color: rgb(81, 82, 82);
}

.choose-text p {
    margin: 20px 0px;
    color: rgb(102, 100, 100);
}

.video-book {
    width: 97%;
    margin-top: 30px;
    margin-left: 1rem;
    border-radius: 10px;
}

#responsive {
    margin-top: 20px;
    background: var(--other);
}

.responsive {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.responsive-img img {
    width: 100%;
    margin-left: -20px;
    margin-top: 20px;
}

.responsive-text {
    margin-top: 60px;
}

.responsive-text h3 {
    color: #3081D0;
    font-size: 40px;
    margin-bottom: 10px;
}

.responsive-text ul li {
    color: rgb(102, 100, 100);
    font-size: 16px;
    margin-bottom: 10px;
    list-style: georgian;
}